.mainContainer {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  position: relative;
  width: auto;
  
  


  aside {
    width: 42rem;
    position: static;
    
  }
}