.LeftSide {
  position: static;
  top: 50px;
  border-radius: 0%;
  width: 14rem;
  background-color: lightgray;
  right: 200%;

  .LeftSideWrapper {
    .LeftSideList {
      padding: 0;
      margin: 0;
      list-style: none;
      :hover {
        color: black;
        cursor: pointer;
      }
      display: flex;
      flex-direction: column;
      .LeftSideListItem {
        margin-top: 10%;
        margin-left: 30%;
        display: flex;
        font-size: 17px;
        align-items: center;
        margin-bottom: 5%;
        :hover {
          color: black;
          cursor: pointer;
        }
      }
    }
  }
  .contactPictures {
    .constactStyle {
      margin-top: 20px;
      padding-left: 32px;
      font-size: 20px;
      display: flex;
      color: black;
      margin-bottom: 5px;
    }
  }
}

.contactPictures {
  display: flex;

  .firstContact {
    border-radius: 50%;
    width: 30px;
    flex-shrink: 1;

    margin: 15px;
    border: 1px solid black;
    position: relative;
    cursor: pointer;
  }
  .greenDot {
    width: 10px;
    position: relative;
    right: 90px;
    top: 35px;
    height: 10px;
  }

  .contactStyle {
    margin-top: 17px;
  }
  &:hover {
    background-color: lightgray;
  }
}
